<!-- This form is incomplete--it needs a relative destination URL 
specified with "action".  See https://www.w3schools.com/html/html_forms.asp and
https://www.w3schools.com/tags/tag_form.asp .  The "action" URL tells 
the browser which URL/resource to POST the form data to. -->
<form action="/create" method="post" >
  <div class="form-row py-3 border-top">
    <input type="submit" value="New Game" class="col-md-2 offset-md-5 btn btn-primary form-control"/>
  </div>
</form>
